{% extends 'base.html.twig' %}

{% block title %}New Projects{% endblock %}

{% block body %}
    <h1 class="text-2xl/7 text-center font-bold sm:truncate sm:text-3xl sm:tracking-tight">New Project</h1>

    {{ include('projects/_form.html.twig') }}
{% endblock %}
