{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!
{% endblock %}

{% block body %}

	<div>
		<h1 class="text-lg/8 font-semibold text-gray-900">
			ModelDemo
		</h1>
		<video width=" 100%" height=" 240" controls>
			<source src=" {{ asset('uploads/videos/demo_model.mp4') }} " type=" video/mp4">
			Your browser does not support the video tag.
		</video>

		<h1 class="text-lg/8 font-semibold text-gray-900">
			Client avatar Demo
		</h1>
		<video width="100%" height="240" controls>
			<source src="{{ asset('uploads/videos/demo_client.mp4') }}" type="video/mp4">
			Your browser does not support the video tag.
		</video>

	{% endblock %}
	{% block stylesheets %}
		{{ parent() }}
	{% endblock %}
