{% extends 'base.html.twig' %}

{% block title %}New Clients{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold text-center">New Clients</h1>

    {{ include('clients/_form.html.twig') }}
{% endblock %}
